<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<form action="saveUser" method="post" modelAttribute="registerUser">
	Enter Fullname : <input type="text" name="Fullname"><br>
	Enter Mobile num : <input type="number" name="Mobile_Number"><br>
	Enter aadharnum : <input type="number" name="aadhar_number"><br>
	Enter address : <input type="text" name="address"><br>
	Enter city : <input type="text" name="city"><br>
	Enter dob : <input type="date" name="dob"><br>
	Enter email : <input type=text name="email"><br>
	Enter gender : <input type=text name="gender"><br>
	Enter pan : <input type="number" name="pan_number"><br>
	Enter state : <input type=text name="state"><br>
	Enter userId : <input type="number" name="user_id"><br>
	
	<button type="submit">Register</button>
</form>


</body>
</html>